# Methods
## Imports

In [ ]:
import pandas as pd
import numpy as np
import itertools as it

## Example

In [ ]:
with open('example.txt') as f:
    example_input = f.read().splitlines()
with open('example_output.txt') as f:
    example_output = f.read().splitlines()

In [42]:
def check_around(row, col, df):
    around_mods = [-1, 0, 1]
    shape = df.shape
    count = 0
    for r, c in it.product(around_mods, around_mods):
        new_r = row + r
        new_c = col + c
        if (0 <= new_r < shape[0]) & (0 <= new_c < shape[1]):
            if r == c == 0:
                next
            else:
                if df.iat[new_r, new_c] == "@":
                    count += 1
    return count


def check_elements(df, count_limit):
    shape = df.shape
    new_array = np.empty_like(df.values)
    idx_gr = it.product(range(shape[0]), range(shape[1]))
    for row, col in idx_gr:
        if df.iat[row, col] == "@":
            count = check_around(row, col, df)
            if count < count_limit:
                new_array[row, col] = 1
    return new_array

In [ ]:
example_df = pd.DataFrame([list(x) for x in example_input])
example_test_df = pd.DataFrame(check_elements(example_df, 4))

In [47]:
display(example_test_df, example_test_df.sum().sum())

      0     1     2     3     4     5     6     7     8     9
0  None  None     1     1  None     1     1  None     1  None
1     1  None  None  None  None  None  None  None  None  None
2  None  None  None  None  None  None     1  None  None  None
3  None  None  None  None  None  None  None  None  None  None
4     1  None  None  None  None  None  None  None  None     1
5  None  None  None  None  None  None  None  None  None  None
6  None  None  None  None  None  None  None  None  None  None
7     1  None  None  None  None  None  None  None  None  None
8  None  None  None  None  None  None  None  None  None  None
9     1  None     1  None  None  None  None  None     1  None

13

## part 1

In [ ]:
with open("input.txt") as f:
    inputs = [list(x.strip()) for x in f.readlines()]
input_df = pd.DataFrame(inputs)
output_df = pd.DataFrame(check_elements(input_df, 4))
output_df.sum().sum()

1441

## part 2

In [61]:
def sum_removed_and_update_df(df, removal_df):
    sum = removal_df.sum().sum()
    if sum > 0:
        new_df = df.where(~removal_df.astype(bool), ".")
        return new_df, sum
    else:
        return None, sum

### example

In [ ]:
removed_counts = []
example_2_df = example_df
while example_2_df is not None:
    removal_df = pd.DataFrame(check_elements(example_2_df, 4))
    example_2_df, sum_count = sum_removed_and_update_df(example_2_df, removal_df)
    # print(sum_count)
    removed_counts.append(sum_count)
print(sum(removed_counts))

43

### inputs

In [65]:
removed_counts = []
output_2_df = input_df
while output_2_df is not None:
    removal_df = pd.DataFrame(check_elements(output_2_df, 4))
    output_2_df, sum_count = sum_removed_and_update_df(output_2_df, removal_df)
    removed_counts.append(sum_count)
print(sum(removed_counts))

9050