In [167]:
import pandas as pd

### example

In [168]:
with open('example.txt') as f:
    example_input = f.read().splitlines()

In [177]:
example_df = pd.DataFrame(
    [list(x) for x in example_input],
)

In [170]:
def find_top_two(series):
    idxmax = series[:-1].idxmax()
    second_idxmax = series[idxmax + 1 :].idxmax()
    top_two = ("").join(series[[idxmax, second_idxmax]].values)
    return top_two

In [178]:
example_df["top_two"] = example_df.apply(find_top_two, axis="columns")

In [176]:
example_df["top_two"].astype(int).sum()

np.int64(357)

## part 1

In [179]:
with open("input.txt") as f:
    input = f.readlines()
    input = [list(x.strip()) for x in input]
input_df = pd.DataFrame(input)
input_df.shape

(200, 100)

In [180]:
input_df["top_two"] = input_df.apply(find_top_two, axis="columns")
input_df["top_two"].astype(int).sum()

np.int64(16854)

## part 2

In [ ]:
def find_top_n(series, n):
    idx_list = [series[0 : -(n - 1)].idxmax()]
    for idx in range(1, n):
        idx_start = idx_list[-1] + 1
        idx_stop = -(n - idx) + 1
        if idx_stop == -0:
            short_series = series[idx_start:]
        else:
            short_series = series[idx_start:idx_stop]
        new_idx_max = short_series.idxmax()
        # display([idx_start, idx_stop, short_series.to_list()])
        idx_list.append(new_idx_max)
    top_n = ("").join(series[idx_list].values)
    return top_n

### example

In [ ]:
find_top_n(pd.Series(list(example_input[0])), n=12)

'987654321111'

In [ ]:
example_df["part_2_sum"] = example_df.drop(
    ["top_two"], axis="columns"
).apply(find_top_n, n=12, axis="columns")

In [ ]:
example_df["part_2_sum"].astype(int).sum()

np.int64(3121910778619)

### inputs

In [166]:
input_df["part_2_sum"] = input_df.drop(["top_two"], axis="columns").apply(
    find_top_n, n=12, axis="columns"
)
input_df["part_2_sum"].astype(int).sum()

np.int64(167526011932478)