# Methods
## Imports and setup

In [66]:
import pandas as pd
import math
import itertools

## Example

In [ ]:
with open('example.txt') as f:
    example_input = f.read().splitlines()[0]

Initial idea:
split range numbers, is even? split the number, check if the same?

In [ ]:
def split_input(input_string: str) -> list[str]:
    split_string = input_string.split(",")
    input_array = [x.split("-") for x in split_string]
    return pd.DataFrame(input_array, columns=["start", "stop"], dtype=str)

In [60]:
def find_first_halfs(start: str, stop: str):
    start_len = len(start)
    stop_len = len(stop)
    if start_len % 2 == 0:
        start_half = start[: int(start_len / 2)]
    elif start_len == 1:
        start_half = 0
    else:
        start_half = start[: math.floor(start_len / 2)]
    if stop_len % 2 == 0:
        stop_half = stop[: int(stop_len / 2)]
    else:
        stop_half = stop[: math.ceil(stop_len / 2)]
    return list(range(int(start_half), int(stop_half) + 1))

In [49]:
def find_min_halfhalfs(start: str, canidates_list: list):
    start_int = int(start)
    for n, each in enumerate(canidates_list):
        if int(str(each) + str(each)) >= start_int:
            return n
    return len(canidates_list)


def find_max_halfhalfs(stop: str, min_n, canidates_list: list):
    stop_int = int(stop)
    for n, each in enumerate(canidates_list[min_n:], min_n):
        if int(str(each) + str(each)) > stop_int:
            return n
    return len(canidates_list)


def find_valids_sum(start, stop, canidates_list):
    min_n = find_min_halfhalfs(start, canidates_list)
    max_n = find_max_halfhalfs(stop, min_n, canidates_list)
    valids = [int(str(x) + str(x)) for x in canidates_list[min_n:max_n]]
    return sum(valids)

In [ ]:
input_df = split_input(example_input)
display(input_df, input_df.dtypes)

         start        stop
0           11          22
1           95         115
2          998        1012
3   1188511880  1188511890
4       222220      222224
5      1698522     1698528
6       446443      446449
7     38593856    38593862
8       565653      565659
9    824824821   824824827
10  2121212118  2121212124

start    object
stop     object
dtype: object

In [ ]:
for index, each in input_df.iterrows():
    (find_first_halfs(each["start"], each["stop"]))

In [61]:
input_df["sums"] = input_df.apply(
    lambda x: find_valids_sum(
        x["start"], x["stop"], find_first_halfs(x["start"], x["stop"])
    ), axis=1
)

In [62]:
input_df['sums'].sum()

np.int64(1227775554)

## part 1

In [56]:
with open("input.txt") as f:
    input_test = f.read().rstrip()

In [58]:
part1_df = split_input(input_test)
part1_df.shape

(34, 2)

In [63]:
part1_df["sums"] = part1_df.apply(
    lambda x: find_valids_sum(
        x["start"], x["stop"], find_first_halfs(x["start"], x["stop"])
    ), axis=1
)

In [64]:
part1_df['sums'].sum()

np.int64(31000881061)

## part 2

In [ ]:
def check_number(number):
    number_str = str(number)
    for n in range(1,len(number_str)//2+1):
        if len(set(itertools.batched(number_str, n))) == 1:
            return number
    return 0

In [ ]:
# example inputs
input2_df = split_input(example_input)
input2_df["sums"] = input2_df.apply(
    lambda x: sum([check_number(y) for y in range(int(x["start"]), int(x["stop"])+1)]),
    axis=1,
)
input2_df["sums"].sum()

np.int64(4174379265)

In [139]:
part2_df = split_input(input_test)
part2_df["sums"] = part2_df.apply(
    lambda x: sum([check_number(y) for y in range(int(x["start"]), int(x["stop"]))]),
    axis=1,
)
part2_df['sums'].sum()

np.int64(46769308485)